/*****************TAG SELECTOR****************/
body{
	font-family: 'Montserrat',sans-serif;
}
h3{
	font-size: 1.5rem;
	
	font-weight: bold;
}
h2{
	font-family: 'Montserrat';
	font-weight: bolder;
	font-size: 2.75rem;
	line-height: 1.5;
}

p{
font-size: 1rem;
	
	color:#8f8f8f;
}









/*****************ID SELECTOR****************/

#title{
	background-color:#ff4c68;
}

#features{
	padding:7% 15%;
	background-color: white;
position:relative;
z-index:1;
}

#testimonials{

text-align: center;
background-color: #ef8172;
color:#fff;
}
#press{
	text-align: center;
	background-color: #ef8172;
	padding-bottom: 3%;
}
#pricing{
	padding:100px;
	text-align: center;
}
#cta{
	background-color: #ff4c68;
	font-family: 'Montserrat';
	color:#fff;
	text-align: center;
	padding:7% 20%;

}
#footer{
text-align: center;
padding:7% 15%;
}

/*****************CLASS SELECTOR****************/
.container-fluid{
	padding:3% 15% 7%;
}
.navbar-brand{
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	

}
.description{
	color:#fff;
	font-size: 3rem;
}
.fab{
	padding-right:5px;
}
.btn{
	font-family: 'Lato', sans-serif;
}
.nav-item{
	font-family: 'Lato', sans-serif;
	padding:0px 18px;
}
.navbar{
padding:0 0 4.5rem 0;

}
.nav-link{
	font-weight: 'Montserrat-Light',sans-serif;
	font-size: 1.2rem;
}
.download-button{
	margin:5% 3% 5% 0;
}
.title-image{
width:60%;
transform:rotate(25deg);
position:absolute;
right:30%;

}
.fas{

	color:#ef8172;
	

}
.fas:hover{
	color:#ff4c68;
}



.features{
font-family: 'Montserrat';
	text-align: center;
	padding:0 2.5%;
}
.testimonial-image{
width:10%;
border-radius: 50%;
margin:20px;
}
.press-logo{
	width:15%;
	margin:20px 20px 50px;
}
.carousel-item{
	padding:7% 15%;
}
.pricing-column{
	padding:3% 2%;
}

.call-to-action{
font-weight: bolder;
font-size: 3.5rem;
padding-bottom:7%;
line-height: 1.5;
}
.icon{
	font-size: 2.5rem;
}

.footer-icon{
	color:black;
	padding:20px;
}
.downoload-button{
	padding:3%;
}

@media (max-width:1050px){
	#title{
text-align: center;
}
.title-image{
	position:static;
	transform:rotate(0);


}


}
